@model List<MVCapp.Models.Team>
@using MVCapp.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@{
    ViewBag.Title = "Leagues";
    var user = await UserManager.GetUserAsync(User);
}

<h2>League Table</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <label for="selectedLeagueId">League:</label>
    @Html.DropDownList("selectedLeagueId", (SelectList)ViewBag.Leagues, "Select League", new { onchange = "this.form.submit();" })
}
<head>
    <script src="~/js/favourites.js"></script>

</head>
<table class="table">
    <thead>
        <tr>
            <th>Team</th>
            <th>PKT</th>
            <th>Last Matchs</th>
            @if (User.Identity.IsAuthenticated)
                {
            <th>Action</th>
                }
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr class="teamRow" data-teamid="@team.Id">
                <td>@team.Name <img src="@team.Logo" /></td>
                <td>20</td>
                <td>
                    @foreach (var match in team.AllMatches.OrderByDescending(m => m.Date).Take(5))
                    {
                        if (match.HomeTeamId == team.Id)
                        {
                            <span class="@GetMatchResultClass(match.HomeScore, match.AwayScore)"></span>
                        }
                        else
                        {
                            <span class="@GetMatchResultClass(match.AwayScore, match.HomeScore)"></span>
                        }
                    }
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @if (user != null && user.FavouriteTeams.Contains(team))
                        {
                            <button class="remove-favourite-button" data-teamid="@team.Id" onclick="toggleFavouriteButton(this)">
                                <img class ="star" src="/icons/star-fill.svg" alt="Remove from Favourites">
                            </button>       
                        }
                        else
                        {
                            <button class="add-favourite-button" data-teamid="@team.Id" onclick="toggleFavouriteButton(this)">
                                <img class="star" src="/icons/star.svg" alt="Add to Favoruites" />
                            </button>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div id="slideOutContainer">
    <div id="slideOutContent">
        <div class="closeButton" onclick="closeSlideOut()">X</div>
        <div class="teamDetails">
            <img src="" alt="Team Icon" id="teamIcon" />
            <div id="teamInfo"></div>
        </div>
        <hr class="line" />
        <ul id="matchList"></ul>
    </div>
</div>
@section scripts {
    <script>
        const slideOutContainer = document.getElementById('slideOutContainer');
        const teamInfoContainer = document.getElementById('teamInfo');
        const teamIcon = document.getElementById('teamIcon');
        const matchListContainer = document.getElementById('matchList');
        let teamIconUrl = '';

        function openSlideOut(teamId, teamName, iconUrl) {
            teamInfoContainer.innerHTML = `<h3>${teamName}</h3>`;
            teamIcon.src = iconUrl;

            fetch(`/Home/GetTeamMatches?teamId=${teamId}`)
                .then(response => response.json())
                .then(responseData => responseData)
                .then(matches => {
                    console.log(matches);
                    let html = '';
                    matches.forEach(match => {
                        html += `
                                        <li>
                                                    ${match.HomeTeam.Name}
                                                    <img src="${match.HomeTeam.Logo}" class="small-icon" />
                                                    ${match.HomeScore} - ${match.AwayScore}
                                                    ${match.AwayTeam.Name}
                                                    <img src="${match.AwayTeam.Logo}" class="small-icon" />
                                        </li>`;
                    });
                    matchListContainer.innerHTML = html;
                    slideOutContainer.style.right = '0';
                })
                .catch(error => {
                    console.error('Error fetching matches:', error);
                });
        }

        function closeSlideOut() {
            slideOutContainer.style.right = '-400px';
        }

        const teamRows = document.querySelectorAll('.teamRow');
        teamRows.forEach(row => {
            row.addEventListener('click', () => {
                if (!event.target.matches('button') && !event.target.classList.contains('star')) {
                    const teamId = row.getAttribute('data-teamid');
                    const teamName = row.cells[0].innerText;
                    teamIconUrl = row.cells[0].querySelector('img').src;
                    openSlideOut(teamId, teamName, teamIconUrl);
                }
            });
        });
    </script>

}
@functions {

    public string GetMatchResultClass(int teamScore, int opponentScore)
    {
        if (teamScore > opponentScore)
        {
            return "result-symbol green-circle";
        }
        else if (teamScore < opponentScore)
        {
            return "result-symbol red-circle";
        }
        else
        {
            return "result-symbol gray-circle";
        }
    }
}